.img {
  width: 20%; height: 20%;
  border-radius: 50%;}

  .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

button {
  background-color: hsl(306, 66%, 70%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;}

  .Goback{
    text-decoration: none;
  }

  h2{
    text-align: center;
    font-family: initial;
  }
  p{
    text-align: center;
    font-family: cursive;
  }